record(calc, "$(P)$(R)-I") {
    field(INPA, "$(P)RAW_$(R)_IN MS")
    field(INPB, "$(INPB)")
    field(INPC, "$(INPC)")
    field(CALC, "$(RAW_TO_USER)")
    field(EGU, "$(EGU)")
    field(SCAN, "Passive")
}

